.doubts {
  padding: 17px 20px 0;
  text-align: center;
}

.doubts__title {
  margin: 0;
}

.doubts__text {
  margin: 20px 0 0;
  text-transform: uppercase;
}

.doubts__video-wrapper {
  margin-top: 38px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/video-play.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.doubts__video {
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 177px;
}

@media (max-width: 767px) {
  .doubts__video {
    height: auto;
  }
}

@media (min-width: 768px) {
  .doubts {
    padding: 58px 60px 40px;
  }

  .doubts__title {
    font-size: 30px;
  }

  .doubts__video-wrapper {
    margin-top: 66px;
  }
}

@media (min-width: 1200px) {
  .doubts {
    padding: 58px 200px 40px;
  }
}
