.gallery {
  padding: 37px 0 0;

  &__title {
    text-align: center;
    margin: 0;
  }

  &__text {
    text-align: center;
    margin: 20px 0 0;
  }

  &__list {
    margin: 25px 0 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 24px 20px 25px;
  }
}
