.main-navigation {
  position: relative;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 18px;
}

.main-navigation__logo-link {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-navigation__toggle {
  margin-left: auto;
}

@media (min-width: 768px) {
  .main-navigation__toggle {
    visibility: hidden;
  }
}
