@import "../variables.scss";

.main-footer {
  padding: 29px 18px 23px;
}

.main-footer__hashtag {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer__developed {
  margin-top: 40px;
  transition: all 0.2s;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.main-footer__navigation {
  margin: 33px 0 0;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
  }

  .main-footer__navigation {
    margin: 0;
    margin-left: -7px;
  }

  .main-footer__developed {
    margin-top: 0;
  }
}


@media (min-width: $desktop-width) {
  .main-footer {
    padding-left: 119px;
    padding-right: 119px;
  }
}
