@import "../variables.scss";

.map {
  background-image: url("../img/map/map-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.map__frame {
  display: block;
  width: 100%;
}

@media (max-width: ($tablet-width - 1px)) {
  .map {
    padding-bottom: 10px;
  }
}
