.page {
  height: 100%;
}

.page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.page__wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
