.reasons {
  &__header {
    padding: 32px 0;
    text-align: center;
  }

  &__header-title {
    margin: 0;
  }

  &__header-text {
    margin: 35px 0 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__img {
    display: block;
  }

  &__features-list {
    list-style: none;
    margin: 0;
    padding: 23px 0 52px;
  }
}
