.reason {
  max-width: 100%;
  text-align: center;
  padding: 37px 19px 37px;

  &--primary {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--secondary {
    background-color: #eeeeee;
    padding: 25px 35px;
  }

  br {
    display: none;
  }
}

.reason__title {
  margin: 0;
}

.reason__number {
  margin: 11px 0 0;
}

.reason__description {
  margin: 17px 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reason {
    min-height: 256px;
    padding: 42px 25px 44px;

    &--secondary {
      padding-left: 40px;
      padding-right: 40px;
    }

    br {
      display: block;
    }
  }

  .reason__title {
    font-size: 21px;
    padding: 0 10px;
  }

  .reason__description {
    margin-top: 23px;
  }
}


@media (min-width: 1200px) {
  .reason br {
    display: none;
  }

  .reason--primary {
    padding: 48px 60px 55px;
  }

  .reason--secondary {
    padding-left: 60px;
    padding-right: 60px;
  }

  .reason__title {
    padding: 0 62px;
  }
}
