.reason {
  max-width: 100%;
  text-align: center;
  padding: 55px 15px 39px;

  &--primary {
    color: #ffffff;
    background-color: #81b3d2;

    & br {
      display: none;
    }
  }

  &--secondary {
    background-color: #eeeeee;
    padding: 25px 35px;

    & br {
      display: none;
    }
  }
}

.reason__title {
  margin: 0;
}

.reason__number {
  margin: 11px 0 0;
}

.reason__description {
  margin: 17px 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reason {
    min-height: 256px;
    padding: 42px 25px 44px;

    &--primary br {
      display: block;
    }

    &--secondary {
      padding-left: 40px;
      padding-right: 40px;

      & br {
        display: block;
      }
    }
  }

  .reason__title {
    font-size: 21px;
  }

  .reason__description {
    margin-top: 23px;
  }
}


@media (min-width: 1200px) {
  .reason {
    padding-top: 48px;
  }
}
