.review__header {
  padding: 37px 20px 28px;
  text-align: center;
}

.review__header-title {
  margin: 0;
}

.review__header-text {
  margin: 20px 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .review__header {
    padding: 64px 60px 102px;
  }

  .review__header-title {
    font-size: 30px;
  }
}
