.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all 0.3s;

  &--active {
    left: 0;
  }
}

.site-navigation__link {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  padding: 17px 0;
}

@media (min-width: 768px) {
  .site-navigation {
    display: flex;
    align-items: center;
    left: 0;
  }

  .site-navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: transparent;

    &__link--active {
      color: #766357;
    }
  }

  .site-navigation__item {
    width: 20%;

    &:nth-child(3) {
      margin-left: auto;
    }
  }
}
