.social-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.social-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  transition: all 0.2s;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social-navigation__logo {
      transition: all 0.2s;
      opacity: 0.3;
    }
  }
}

.social-navigation__logo {
  fill: #ffffff;
}
