.social-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.social-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
}
