.subscribe {
  padding: 39px 20px 49px;
  text-align: center;
  max-width: 475px;
  margin: 0 auto;
}

.subscribe__title {
  margin: 0;
  font-size: 21px;
}

.subscribe__description {
  margin: 20px 0 0;
  text-transform: uppercase;
}


.subscribe__button {
  margin-top: 32px;
  display: block;
  text-decoration: none;
}

@media (min-width: 768px) {
  .subscribe__button {
    width: 100%;
  }

  .subscribe__title {
    font-size: 30px;
  }
}
