.toggle-button {
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
