@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.button {
  width: 100%;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  padding: 19px 32px 14px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.page {
  height: 100%;
}

.page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.page__wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.main-navigation {
  position: relative;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-navigation__toggle {
  margin: 0 18px 0 auto;
}

.main-navigation--closed .main-navigation__toggle::before, .main-navigation--closed .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  transition: all 0.2s;
}

.main-navigation--opened .main-navigation__toggle::after, .main-navigation--opened .main-navigation__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  box-shadow: none;
  background-color: #ffffff;
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: translateY(-50%) rotate(45deg);
}
.main-navigation--opened .main-navigation__toggle::before {
  transform: translateY(-50%) rotate(-45deg);
}

.main-navigation--no-js .main-navigation__toggle {
  display: none;
}

.main-navigation--no-js .main-navigation__list {
  position: static;
  margin: 100px 0 0;
}

.main-navigation__logo-link {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-navigation--closed .main-navigation__list {
    left: -100%;
  }

  .main-navigation--opened .main-navigation__list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7px;
    width: 100%;
    box-shadow: inset 0 -5px 7px -2px rgba(0, 0, 0, 0.4);
  }
}
.main-logo__img {
  display: block;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s;
}

.site-navigation__link {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  padding: 17px 0;
}

@media (min-width: 768px) {
  .site-navigation {
    display: flex;
    align-items: center;
    left: 0;
  }

  .site-navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: transparent;
  }
  .site-navigation__link__link--active {
    color: #766357;
  }

  .site-navigation__item {
    width: 20%;
  }
  .site-navigation__item:nth-child(3) {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .site-navigation__link {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #144950;
  padding: 90px 20px 85px;
}
.welcome--small {
  background-image: url("../img/back-mobile-small.png");
  padding: 52px 0 67px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .welcome {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}

.welcome__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .welcome {
    background-image: url("../img/back-tablet.jpg");
    padding: 77px 0 91px;
    background-position: center top;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .welcome {
    background-image: url("../img/back-tablet@2x.jpg");
  }
}
@media (min-width: 768px) {
  .welcome__img {
    width: 460px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .welcome {
    background-image: url("../img/back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .welcome {
    background-image: url("../img/back-desktop@2x.jpg");
  }
}
.reason {
  max-width: 100%;
  text-align: center;
  padding: 54px 15px 40px;
}
.reason--primary {
  color: #ffffff;
  background-color: #81b3d2;
}
.reason--secondary {
  background-color: #eeeeee;
}

.reason__title {
  margin: 0;
}

.reason__number {
  margin: 11px 0 0;
}

.reason__description {
  margin: 17px 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reason {
    min-height: 256px;
  }

  .reason__title {
    font-size: 21px;
  }
}
.reasons__header {
  padding: 32px 25px;
  text-align: center;
}

.reasons__header-title {
  margin: 0;
}

.reasons__header-text {
  margin: 35px 0 0;
  text-transform: uppercase;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.reasons__features-list {
  list-style: none;
  margin: 0;
  padding: 23px 18px 52px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media (min-width: 768px) {
  .reasons__header {
    padding: 32px 140px;
  }

  .reasons__header-title {
    font-size: 21px;
  }

  .reasons__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons__img-wrapper {
    grid-column: span 2;
  }

  .reasons__features-list {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 0;
  }

  .reasons__sublist {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .reasons__sublist-item {
    border-bottom: 1px solid #d6d6d6;
  }
}
.feature {
  padding: 8px 0 0 47px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40px 40px;
}
.feature--housing {
  background-image: url("../img/icons/feature-housing.svg");
}
.feature--burger {
  background-image: url("../img/icons/feature-burger.svg");
}
.feature--present {
  background-image: url("../img/icons/feature-present.svg");
}

.feature__title {
  margin: 0;
}

.feature__description {
  margin: 16px 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .feature {
    padding: 159px 30px 30px;
    min-height: 330px;
    background-position: center 60px;
    text-align: center;
  }
  .feature--housing {
    background-size: 75px 72px;
  }
  .feature--burger {
    background-size: 76px 68px;
  }
  .feature--present {
    background-size: 64px 75px;
  }

  .feature__title {
    font-size: 21px;
  }
}
.subscribe {
  padding: 39px 20px 49px;
  text-align: center;
  max-width: 475px;
  margin: 0 auto;
}

.subscribe__title {
  margin: 0;
  font-size: 21px;
}

.subscribe__description {
  margin: 20px 0 0;
  text-transform: uppercase;
}

.subscribe__button {
  margin-top: 32px;
  display: block;
  text-decoration: none;
}

@media (min-width: 768px) {
  .subscribe__button {
    width: 100%;
  }

  .subscribe__title {
    font-size: 30px;
  }
}
.main-footer {
  padding: 39px 18px 23px;
}

.main-footer__hashtag {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer__developed {
  margin-top: 40px;
}

.main-footer__navigation {
  margin: 35px 0 0;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
  }

  .main-footer__navigation {
    margin: 0;
  }

  .main-footer__developed {
    margin-top: 0;
  }
}
.social-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.social-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
}

.gallery {
  padding: 37px 20px 0;
}

.gallery__title {
  text-align: center;
  margin: 0;
}

.gallery__text {
  text-align: center;
  margin: 20px 0 0;
  text-transform: uppercase;
}

.gallery__list {
  margin: 25px 0 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e5e5e5;
}

.gallery__item {
  padding: 25px 0 25px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.gallery__item-like-btn {
  display: block;
  width: 23px;
  height: 21px;
  background-image: url("../img/icons/like-icon.svg");
}

.gallery__like-wrapper {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.gallery__item-info {
  padding-top: 15px;
}

.gallery__item-name {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.gallery__item-author {
  margin: 5px 0 0;
}

.gallery__item-likes {
  font-weight: 700;
  margin: 5px 0 0;
}

.gallery__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .gallery {
    padding: 66px 60px 0;
  }

  .gallery__title {
    font-size: 30px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item {
    padding: 0;
    border: none;
    background-color: #f2f2f2;
  }

  .gallery__item:first-child {
    grid-column: span 2;
  }

  .gallery__item-info {
    padding: 20px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery__like-wrapper {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 66px 0 0;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item:first-child {
    grid-column: span 3;
  }

  .gallery__item-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
  }
}
.doubts {
  padding: 17px 20px 0;
  text-align: center;
}

.doubts__title {
  margin: 0;
}

.doubts__text {
  margin: 20px 0 0;
  text-transform: uppercase;
}

.doubts__video-wrapper {
  margin-top: 38px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.doubts__video-wrapper::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/icons/video-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.doubts__video {
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 177px;
}

@media (max-width: 767px) {
  .doubts__video {
    height: auto;
  }
}
@media (min-width: 768px) {
  .doubts {
    padding: 58px 60px 40px;
  }

  .doubts__title {
    font-size: 30px;
  }

  .doubts__video-wrapper {
    margin-top: 66px;
  }
}
@media (min-width: 1200px) {
  .doubts {
    padding: 58px 200px 40px;
  }
}
.review__header {
  padding: 37px 20px 28px;
  text-align: center;
}

.review__header-title {
  margin: 0;
}

.review__header-text {
  margin: 20px 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .review__header {
    padding: 64px 60px 102px;
  }

  .review__header-title {
    font-size: 30px;
  }
}
.form {
  padding: 0 20px 0;
}

.form__group {
  padding: 24px 0 40px;
  margin: 0;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.form__group-title {
  text-align: center;
  padding: 0;
}

.form__input-list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__label {
  text-transform: uppercase;
  color: #333333;
  display: block;
  position: relative;
}
.form__label--phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-image: url("../img/icons/phone.svg");
  background-position: center;
}
.form__label--email::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-image: url("../img/icons/mail.svg");
  background-position: center;
}

.form__label-text {
  display: block;
  padding: 0 16px;
}

.form__field {
  width: 100%;
  padding: 16px;
  background-repeat: no-repeat;
}

.form__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.form__radio + .form__control-label::before {
  content: "";
  width: 46px;
  height: 46px;
  display: inline-block;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
  flex-shrink: 0;
}

.form__radio:checked + .form__control-label::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  border-radius: 50%;
}

.form__checkbox + .form__control-label::before {
  content: "";
  width: 46px;
  height: 46px;
  display: inline-block;
  left: 0;
  top: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  flex-shrink: 0;
}

.form__checkbox:checked + .form__control-label::before {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__message {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
}
.form__message::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__group-inner {
  margin-top: 20px;
}

.form__submit {
  display: block;
  width: 100%;
}

.form__clarification {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  text-transform: uppercase;
  margin: 3px 0 0;
}

.form__submit-wrapper {
  margin-top: 56px;
}

@media (min-width: 768px) {
  .form {
    padding: 0 60px 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 85px;
  }

  .form__message {
    height: 160px;
  }

  .form__group {
    border: none;
    padding: 0;
  }

  .form__group:nth-child(n+3) {
    grid-column: span 2;
  }

  .form__group:nth-child(n+3) .form__group-title {
    position: relative;
  }
  .form__group:nth-child(n+3) .form__group-title::after, .form__group:nth-child(n+3) .form__group-title::before {
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
  }
  .form__group:nth-child(n+3) .form__group-title::after {
    right: 0;
    top: 50%;
  }
  .form__group:nth-child(n+3) .form__group-title::before {
    left: 0;
    top: 50%;
  }

  .form__group--radio .form__input-list {
    padding: 0 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__group--checkbox .form__input-list {
    padding: 0 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
  }

  .form__group-title {
    font-size: 21px;
  }

  .form__submit {
    width: 324px;
  }

  .form__clarification {
    margin-top: 0;
  }

  .form__submit-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__group--message .form__group-inner {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .form__group-inner {
    margin-top: 28px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 0 120px 64px;
  }

  .form__group--radio .form__input-list {
    padding: 0 53px;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }

  .form__group--checkbox .form__input-list {
    padding: 0 44px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 0;
  }

  .form__group:nth-child(n+3) .form__group-title::after, .form__group:nth-child(n+3) .form__group-title::before {
    content: "";
    width: 280px;
  }

  .form__submit {
    width: 384px;
  }
}
.map__img {
  width: 100%;
  object-fit: cover;
}

.map__frame {
  display: block;
  width: 100%;
}

.copyright {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.toggle-button {
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.input-text {
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */